@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
   font-family: emojione;
   src: url("/emojifont") format("woff2");
}

$primary-color: #2f2f36;
$text-color: rgb(204, 205, 219);
$positive: rgb(83, 144, 76);
$negative: rgb(133, 60, 60);

html, body {
   font-family: Roboto, Helvetica, sans-serif;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: $primary-color - #0e0e0e;
   color: $text-color;
}

.textcontent {
  p {
    margin: 0;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 2em;
    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    color: rgb(59, 72, 187);
    text-decoration: none;
  }
}

.content {
   min-height: 100%;
   width: 60%;
   min-width: 900px;
   margin: auto;
   background-color: $primary-color;

   .padded {
     padding: 1em;
   }

   .block {
      width: 100%;
   }

   header {
      padding-top: 2em;
      padding-bottom: 2em;
      height: auto;
      text-align: center;
      background-color: $primary-color - #090909;

      p {
         margin: 0;
      }

      h1 {
         margin: 0;
         font-size: 4em;
      }

      h3 {
         font-style: italic;
         margin: 0em;
      }
   }

   .tabs {
      width: 100%;
      min-height: 60px;
      height: auto;
      display: flex;
      flex-direction: row;

      .tab {
         background-color: $primary-color + #050505;
         display: inline-flex;
         flex: 2;
         text-align: center;
         transition: 0.15s;
         border-top: 4px solid $primary-color + #080808;

         h3 {
            width: 100%;
         }
      }

      .tab[data-active="true"] {
         background-color: $primary-color + #080808;
      }

      .tab:hover {
         background-color: $primary-color + #090909;
         cursor: pointer !important;
         -webkit-user-select: none; /* Chrome/Safari */
         -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* IE10+ */
         cursor: default;
      }

      .tab[data-active="true"]:hover {
         background-color: $primary-color + #0c0c0c;
      }
   }

   .stats-content {
      white-space: nowrap;
      margin: 0;
      font-size: 1.2em;
      display: flex;

      .title {
         //height: 100%;
         font-size: 0.9em;
         font-style: italic;
         font-weight: bold;
         background-color: $primary-color + #080808 !important;
         width: 100%;
         border-top: 3px solid $primary-color + #0f0f0f;

         p {
            padding-left: 1em;
         }
      }

      .icon {
         background-color: $primary-color + #080808;
         text-align: center;
         font-family: emojione;
         height: 100%;
         -webkit-user-select: none; /* Chrome/Safari */
         -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* IE10+ */
         cursor: default;
         border-top: 3px solid $primary-color + #0f0f0f;
      }

      .tabcontent {
        width: 100%;
      }

      .tabcontent[data-active="false"] {
        display: none !important;
      }

      .column {
         margin: 0;
         flex-direction: column;
         flex: 5;


         @for $i from 1 through 20 {
            .statblock:nth-child(#{$i * 2 - 1}):not(.title) {
               background-color: $primary-color + #070707 !important;

               .positive, .negative {
                  background-color: $primary-color + #0a0a0a !important;
               }
               .positive.button:hover {
                  background-color: $positive + #363636 !important;
                  cursor: pointer;
               }

               .negative.button:hover {
                  background-color: $negative + #363636 !important;
                  cursor: pointer;
               }
            }
         }

         .statblock {
            background-color: $primary-color + #040404;
            height: 3%;
            min-height: 30px;

            .nameplate {
               height: 100%;
               display: inline-flex;

               div {
                  margin-left: 1em;
               }

               .name {
                  cursor: help;
               }
            }

            .title {
               height: 100%;
            }

            .valuefield {
               @extend .button;
               background-color: inherit;
               display: inline-flex;
            }

            .button {
               //height: 100%;
               text-align: center;
               -webkit-user-select: none; /* Chrome/Safari */
               -moz-user-select: none; /* Firefox */
               -ms-user-select: none; /* IE10+ */
               cursor: default;
            }

            .positive {
               background-color: $primary-color + #070707;;
               color: $positive;
               font-weight: 600;
               transition: 0.1s;

            }
            .positive.button:hover {
               background-color: $positive + #333;
               cursor: pointer;
            }

            .negative {
               background-color: $primary-color + #070707;
               color: $negative;
               font-weight: 600;
               transition: 0.1s;
            }
            .negative.button:hover {
               background-color: $negative + #333;
               cursor: pointer;
            }

            input {
              resize: none;
              width: 100%;
              height: 100%;
              margin: 0;
              border: none;
              padding: 0.2em;
              padding-right: 0.5em;
              padding-left: 0.5em;
              font-family: Roboto, Helvetica, sans-serif;
              background-color: $primary-color + #060606;
              color: inherit;
              transition: 0.15s;
            }

            input:hover {
               background-color: $primary-color + #080808;
            }

            select {
              @extend input;
            }

            .input-stuffer {
              width: 100%;
              height: 3%;
              min-height: 30px;

              textarea {
                @extend input;
                height: 3%;
                min-height: 30px;
                background-color: $primary-color + #040404;
              }

              textarea:hover {
                 background-color: $primary-color + #060606;
              }
            }

         }

         .flexed-statblock {
            @extend .statblock;
            display: flex;
            flex-direction: row;

            .title {
               height: auto;
            }
         }

         @mixin statblock-x {
            @for $i from 2 through 5 {
               .statblock-#{$i} {
                  @extend .statblock;

                  height: 3% * $i;
                  min-height: 30px * $i;

                  .input-stuffer {
                    height: 3% * $i;
                    min-height: 30px * $i;

                    textarea {
                      padding-top: 0.2em + 0.1em * $i;
                      padding-bottom: 0.2em + 0.1em * $i;
                      height: 3% * $i;
                      min-height: 30px * $i;
                    }
                  }
               }
            }
         }
         @include statblock-x;

         :last-child {
            margin: 0;
         }
      }


   }
   @media (max-width: 700px) {
      .stats-content {
         display: block;

         .tabcontent {
           display: block;

           .column {
              width: 100%;
              display: block;
           }
         }

         :last-child {
            margin-left: 0px;
         }
      }

      .tabs {
        display: block;

        .tab {
          display: block;

          h3 {
            margin: 0em;
            padding: 0.2em;
          }
        }
      }
   }
}

.flex-parent {
  display: flex;
}

.column-flex {
   display: flex;
   flex-direction: column;
}

.row-flex {
  @extend .column-flex;
  flex-direction: row;
}

.column-flex.center, .row-flex.center {
  justify-content: center;
}

@mixin flex-size-x {
   @for $i from 1 through 10 {
      .flex-size-#{$i} { flex: $i; }
   }
}
@include flex-size-x;

@media (max-width: 900px) {
   .content {
      width: 100%;
      min-width: 0px;
   }
}

::selection {
   background: $primary-color + #333; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary-color + #333; /* Gecko Browsers */
}

button {
  margin: 0;
  padding: 0;
  background-color: $primary-color + #111;
  border: 0;
  padding: 0.7em;
  margin: 0.5em;
  transition: 0.2s;
  color: $text-color;
}

button:hover {
  background-color: $primary-color + #222;
  cursor: pointer;
}

button:active {
  background-color: $primary-color + #444;
}

button.positive {
  color: $positive;
}
button.positive:hover {
  background-color: $positive + #222;
  color: $text-color + #222;
  cursor: pointer;
}

button.positive:active {
  background-color: $positive + #444;
  color: $text-color + #444;
}

button.negative {
  color: $negative;
}
button.negative:hover {
  background-color: $negative + #222;
  color: $text-color + #222;
  cursor: pointer;
}

button.negative:active {
  background-color: $negative + #444;
  color: $text-color + #444;
}
