html
  head
  title Nothing here!
  style
    include styles/main.css
  body
    div(class="content textcontent")
      header(class="block")
        h2 You have walked into the wrong neighborhood, carry on.
      div(class="padded")
        a(href="/") Return to the homepage
