html
  head
  title #{title}
  style
    include styles/main.css
  body
    div(class="content")
      header(class="block")
        h1 You're authorized!
      div(class="padded")
        p Your authorization token is #{token}, but it's saved in your cookies safely!
        p Please keep it safe though in case you ever clear your cookies or need to authorisize from another cookie etc. You'll need it then!
        a(href="/") Back to main page
