html
  head
  title New Character?
  style
    include styles/main.css
  body
    div(class="content")
      header(class="block")
        h2 Are you sure you want to create the character "#{name}"?
      div(class="padded")
        <a href="/c/#{name}/confirm">Yes!</a><br>
        <a href="/">Nah, return me to the index.</a>
