html
  head
  title New Character?
  style
    include styles/style.css
  body
    h2 Are you sure you want to create the character "#{name}"?
    <a href="/c/#{name}/confirm">Yes!</a><br>
    <a href="/">Nah, return me to the index.</a>
