html
  head
    title The world is full!
    style
      include styles/main.css
  body
    div(class="content textcontent")
      header(class="block")
        h2 Sorry, the world is full! Ask for more space from the host and try again.
