html
  head
  title RPG Sheet Manager
  style
    include styles/main.css
  body
    div(class="content textcontent")
      header(class="block")
        h1 RPG Sheet Manager for HERO-likes
      div(class="padded")
        p This HERO-like RPG sheet manager is still under construction.

        if authorized
          p You're authorized! Visit /a to view your auth token.
        else
          button(onclick="genuser()") Generate new user

    <script>
    include index.js
    </script>
