html
  head
  title #{title}
  style
    include styles/main.css
  body
    div(class="content")
      header(class="block")
        h1 #{header}
      div(class="padded")
        p #{description}
        h3 List of all characters that exist on the current world:
        p #{charlist}

        if authorized
          p You're authorized! Visit /a to view your auth token.
        else
          button(onclick="genuser()") Generate new user

    <script>
    include index.js
    </script>
