
style
  include styles/popup.css

div(id="popup-template" class="curtain")
  div(class="popup-anchor")
    div(class="popup")
      h3(class="popup-title")
      p(class="popup-text")
      div(class="popup-inputarea")


<script>
  include popup.js
</script>
